<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coachingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen50"></activity>
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen49" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen48" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen47" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen46" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen45" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen44" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen43" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen42_3" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen42_2" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen42" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen41_3" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen41_2" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen41" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen40" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen39" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen38" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen37" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen36" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen35" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen34" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen33_2" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen33_1" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen33" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen32_2" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen32_1" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen32" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen31" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen30" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen29" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen28" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen26_cONT" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen27" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen26" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen24" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen23" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen22" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_19" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_18" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_17_options" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_17" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_16_choices" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_16_contact" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_16" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_15" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_14" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_13" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_12_Innerthoughts" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_12_Physical" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_12_Behavioural" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_11" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_10" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_9_Heart" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_9_Brain" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_9_DNA" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_8" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_7" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_6" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_5" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_4" />
        <activity android:name=".ResilienceandCopingMechanisms.Slide_3" />
        <activity android:name=".ResilienceandCopingMechanisms.ResilienceMain" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen21" />
        <activity android:name=".ResilienceandCopingMechanisms.resilience_Screen20" />
        <activity android:name=".ViewYourRoadMapStepsHazard" />
        <activity android:name=".ViewYourRoadMapSteps" />
        <activity android:name=".ResilienceandCopingMechanisms.Behaviouralsigns" />
        <activity
            android:name=".WebBlog.UpdateBlog"
            android:theme="@style/BlogAppTheme" />
        <activity
            android:name=".WebBlog.ViewBlogDetails"
            android:theme="@style/BlogAppTheme" />
        <activity
            android:name=".WebBlog.PostDetailActivity"
            android:theme="@style/BlogAppTheme" />
        <activity
            android:name=".WebBlog.DashboardBlog"
            android:theme="@style/BlogAppTheme" />
        <activity
            android:name=".WebBlog.Blog"
            android:theme="@style/BlogAppTheme" />
        <activity android:name=".Goals.Goal_DisplaySummary" />
        <activity android:name=".Issues_Problems.LastQuestion" />
        <activity android:name=".Goals.Goal_Question_8_Part_2" />
        <activity android:name=".Goals.Goal_Question_8_Part_1" />
        <activity android:name=".Goals.Goal_Question_8" />
        <activity android:name=".Goals.Goal_16" />
        <activity android:name=".Goals.Goal_15" />
        <activity android:name=".Goals.Goal_Question_7" />
        <activity android:name=".Goals.Goal_Question_6" />
        <activity android:name=".Goals.Goal_14" />
        <activity android:name=".Goals.Goal_Question_5" />
        <activity android:name=".Goals.Goal_13" />
        <activity android:name=".Goals.Goal_Custom_1" />
        <activity android:name=".Goals.Goal_Question_4" />
        <activity android:name=".Goals.Goal_12" />
        <activity android:name=".Goals.Goal_11" />
        <activity android:name=".Goals.Goal_10" />
        <activity android:name=".Goals.Goal_9" />
        <activity android:name=".Goals.Goal_8" />
        <activity android:name=".Goals.Goal_7" />
        <activity android:name=".Goals.Goal_Question_3" />
        <activity android:name=".Goals.Goal_6" />
        <activity android:name=".Goals.Goal_5" />
        <activity android:name=".Goals.Goal_4" />
        <activity android:name=".Goals.Goal_3" />
        <activity android:name=".Goals.Goal_Question_2" />
        <activity android:name=".Goals.Goal_2" />
        <activity android:name=".Goals.Goal_Question_1" />
        <activity android:name=".Goals.Goal_1" />
        <activity android:name=".Issues_Problems.IP_Question_Two_Part_Two" />
        <activity android:name=".Issues_Problems.IP_QuestionTwo_Part_one" />
        <activity android:name=".Issues_Problems.IP_Question_Display_Summary" />
        <activity android:name=".Issues_Problems.IP_Question_16" />
        <activity android:name=".Issues_Problems.IP_Question_15" />
        <activity android:name=".Issues_Problems.IP_Question_14" />
        <activity android:name=".Issues_Problems.IP_Question_13" />
        <activity android:name=".Issues_Problems.IP_Question_12" />
        <activity android:name=".Issues_Problems.IP_Question_11" />
        <activity android:name=".Issues_Problems.IP_Question_10" />
        <activity android:name=".Issues_Problems.IP_Question_9" />
        <activity android:name=".Issues_Problems.IP_QuestionEight" />
        <activity android:name=".Issues_Problems.IP_QuestionSeven" />
        <activity android:name=".Issues_Problems.IP_QuestionSix" />
        <activity android:name=".Issues_Problems.IP_Question_Five_Part_Two" />
        <activity android:name=".Issues_Problems.IP_Question_Five_Part_One" />
        <activity android:name=".Issues_Problems.IP_Question_Five" />
        <activity android:name=".IP_QuestionFour" />
        <activity android:name=".Issues_Problems.IP_QuestionThree" />
        <activity android:name=".Issues_Problems.IP_QuestionTwo" />
        <activity android:name=".Issues_Problems.IP_QuestionOne" />
        <activity android:name=".QuickCoachingOptions" />
        <activity android:name=".AboutUs" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>